Django<4.0
djangorestframework<=3.13.1
djangorestframework-gis<=0.18
django-rest-auth[with_social]<=0.9.5
django-model-utils<=4.2.0
django-simple-history<=3.0.0
django-translated-fields<=0.12.0
django-sekizai<=3.0.1
django-compressor==4.0
django-select2>=7.7.3
django-tables2<=2.4.1
django-filter<=21.1
django-widget-tweaks<=1.4.12

coreapi==2.3.3

python-decouple==3.6
Pillow<=9.1.0

tablib<=3.2.1