{% extends "metronic/account/base.html" %}
{% load  i18n %}
{% block title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <div class="pt-lg-10">
        <!--begin::Logo-->
        <h1 class="fw-bolder fs-2qx text-dark mb-7">{% trans "Sign Up is closed!" %}</h1>
        <!--end::Logo-->
        <!--begin::Message-->
        <div class="fw-bold fs-3 text-gray-400 mb-15">{% trans "Sorry, at this time we do not support registration of new members. Please try again later." %}</div>
        <!--end::Message-->
        <!--begin::Action-->
        <div class="text-center">
            <a href="/" class="btn btn-lg btn-primary fw-bolder">{% trans "Go to homepage" %}</a>
        </div>
        <!--end::Action-->
    </div>
{% endblock %}
