{% load i18n static tz %}

<div class="toolbar" id="kt_toolbar">
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">{{ title }}
            <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
            </h1>
        </div>
        {% block actions %} {% endblock %}
    </div>
</div>