{% extends 'base_app.html' %}
{% load i18n widget_tweaks sekizai_tags compress %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% block left_form %}{% endblock %}

<div class="d-flex flex-row">
    <div class="flex-row-fluid ml-lg-8">
        <form class="form" id="{% block form_id %}formSubmit{% endblock %}" enctype="multipart/form-data" method="post" action="{% block form_url %}{% endblock %}">{% csrf_token %}
        <div class="card card-custom card-sticky" id="kt_page_sticky_card">

            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">{% block form_title %}{{ title }}{% endblock %}</h3>
                </div>
                <div class="card-toolbar">
                    {% block form_actions %}
                        <button type="submit" id="btn_form_submit" class="btn btn-primary" data-kt-roles-modal-action="submit">
                            <span class="indicator-label">{% trans "Submit" %}</span>
                            <span class="indicator-progress">{% trans "Please wait..." %}
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                    {% comment %}<div class="btn-group">
                        <button type="submit"  class="btn btn-primary font-weight-bolder">
                        <i class="ki ki-check icon-sm"></i>{% trans "Save Form" %}</button>
                    </div>{% endcomment %}
                    {% endblock %}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        {% block form_body %}
                            {% include "metronic/backend/form_snippets/form_fields.html" with form=form %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>
        </form>
    </div>
</div>
{% endblock %}