{% load i18n static widget_tweaks %}
{% if field %}
    <div class="fv-row form-group mb-10">
        <label class="col-xl-3 col-lg-3 col-form-label">{{ field.label }} {% if field.field.required %} <span class="text-danger"> *</span> {% endif %}</label>
        <div class="col-lg-9 col-xl-6">
            {% if field|field_type == 'charfield' and field.field.max_length %}
                {% render_field field class+="form-control form-control-solid input-maxlength" placeholder=field.label %}

            {% elif field|field_type == 'charfield' and not field.field.max_length %}
                {% render_field field class+="form-control form-control-solid" placeholder=field.label %}

            {% elif field|field_type == 'modelmultiplechoicefield' and field|widget_type == 'selectmultiple' %}
                {% render_field field class+="form-control form-control-lg form-select form-select-solid" data-control="select2" data-placeholder=field.label data-allow-clear="true" multiple="multiple" %}
            {% else %}
                {% render_field field class+="form-control form-control-solid" placeholder=field.label  %}
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="form-text text-danger">{{error|escape}}</span>
                {% endfor %}
            {% endif %}
            {% if not hide_help %}
                {% if safe_help  %}
                <span class="form-text text-muted">{{field.help_text|safe}}</span>
                {% else %}
                <span class="form-text text-muted">{{field.help_text|safe}}</span>
                {% endif %}
            {% endif %}

        </div>
    </div>

{% endif %}
