{% load i18n static widget_tweaks sekizai_tags %}

{% if field %}

    <div class="fv-row mb-10">
        <label class="{% if field.field.required %}required{% endif %} form-label" id="lbl_{{ field.id_for_label }}">
            {% if custom_label %}{{ custom_label }}{% else %}{{ field.label }}{% endif %}
            {% if field.help_text %}
                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="{{field.help_text|safe}}" aria-label="{{field.help_text|safe}}"></i>
            {% endif %}
        </label>

        {% comment %}<div class="col-lg-12 col-xl-12">{% endcomment %}

            {% if field|field_type == 'charfield' and not field|widget_type == 'passwordinput' %}
                {% if field.field.max_length %}
                    {% render_field field class+="form-control form-control-solid input-maxlength" placeholder=field.label %}
                {% else %}
                    {% render_field field class+="form-control form-control-solid input-maxlength" placeholder=field.label %}
                {% endif %}

            {% elif field|field_type == 'charfield' and field|widget_type == 'passwordinput' %}
                    <div class="mb-10 fv-row" data-kt-password-meter="true">
                        <!--begin::Wrapper-->
                        <div class="mb-1">
                            <!--begin::Input wrapper-->
                            <div class="position-relative mb-3">
                                {% render_field field class+="form-control form-control-solid" placeholder=field.label autocomplete="off" %}
                                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                    <i class="bi bi-eye-slash fs-2"></i>
                                    <i class="bi bi-eye fs-2 d-none"></i>
                                </span>
                            </div>
                        </div>
                        <!--end::Wrapper-->
                        {% if field.errors %}
                            <div class="text-danger mt-5">{{ field.errors }}</div>
                        {% endif %}
                        <!--begin::Meter-->
                        <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                        </div>
                        <!--end::Meter-->
                    </div>

            {% elif field|field_type == 'lazytypedchoicefield' and field|widget_type == 'countryselectwidget' %}

                {% render_field field class+="form-select form-select-solid rounded-start-0 border-start" data-control="select2" %}

            {% elif field|field_type == 'typedchoicefield' and field|widget_type == 'select2widget' %}

                {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label %}


            {% elif field|field_type == 'timezoneformfield' and field|widget_type == 'select2widget' %}
                {% if field.field.required %}
                    {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label data-allow-clear="true" %}
                {% else %}
                    {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label %}
                {% endif %}

            {% elif field|field_type == 'modelchoicefield' and field|widget_type == 'select2widget' %}
                {% if field.field.required %}
                    {% render_field field class+="form-control form-control-lg form-select form-select-solid" data-control="select2" data-placeholder=field.label data-allow-clear="true" %}
                {% else %}
                    {% render_field field class+="form-control form-control-lg form-select form-select-solid" data-control="select2" data-placeholder=field.label %}
                {% endif %}

            {% elif field|field_type == 'modelchoicefield' and field|widget_type == 'modelselect2widget' %}
                {% if field.field.required %}
                    {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label data-allow-clear="true" %}
                {% else %}
                    {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label %}
                {% endif %}

            {% elif field|field_type == 'choicefield' and field|widget_type == 'select2widget' %}
                {% if field.field.required %}
                    {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label data-allow-clear="true" %}
                {% else %}
                    {% render_field field class+="form-control form-control-lg form-control-solid" data-placeholder=field.label %}
                {% endif %}

            {% elif field|field_type == 'choicefield' and field|widget_type == 'select' %}
                {% if field.field.required %}
                    {% render_field field class+="form-control form-control-lg form-control-solid  form-select form-select-solid" data-control="select2" data-placeholder=field.label data-allow-clear="true" %}
                {% else %}
                    {% render_field field class+="form-control form-control-lg form-control-solid  form-select form-select-solid" data-control="select2" data-placeholder=field.label %}
                {% endif %}

            {% elif field|field_type == 'modelmultiplechoicefield' and field|widget_type == 'selectmultiple' %}
                {% render_field field class+="form-control form-control-lg dual-listbox" %} {# data-available-title=available_text data-selected-title=selected_text #}

            {% elif field|field_type == 'datefield' and field|widget_type == 'dateinput' %}
                <div class="mb-1">
                    <!--begin::Input wrapper-->
                    <div class="position-relative mb-3">
                        {% render_field field class+="form-control form-control-lg form-control-solid" placeholder=field.label data-provide="datepicker" %}
                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                            <i class="bi bi-calendar2-check fs-2"></i>
                        </span>
                    </div>
                </div>

            {% elif field|field_type == 'booleanfield' and field|widget_type == 'checkboxinput' %}
                <div class="mb-1">
                    <div class="position-relative mb-3">
                        <div class="form-check form-check-custom form-check-solid">{# form-switch  #}
                            {% render_field field class+="form-check-input" %}
                        </div>
                    </div>
                </div>

            {% elif field|field_type == 'moneyfield' %}
                <div class="input-group">
                    {% render_field field class+="form-control form-control-lg" pattern="^[0-9]+" %}
                </div>

            {% elif field|field_type == 'creditcardexpiryfield' and field|widget_type == 'creditcardexpirywidget' %}
                {% if field.field.required %}
                    {% render_field field class+="form-control form-control-lg form-select form-select-solid" data-control="select2" data-placeholder=field.label %}
                {% else %}
                    {% render_field field class+="form-control form-control-lg form-select form-select-solid" data-control="select2" data-placeholder=field.label data-allow-clear="true" %}
                {% endif %}

            {% else %}

            {% render_field field class+="form-control form-control-solid" placeholder=field.label %}

            {% endif %}
        </div>

        {% if field.errors %}
            {% for error in field.errors %}
                <div class="fv-plugins-message-container invalid-feedback"><div data-field="target_title" data-validator="notEmpty">{{error|escape}}</div></div>
            {% endfor %}
        {% endif %}

    {% comment %}</div>{% endcomment %}

{% endif %}
